<% content_for(:head) do -%>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'live-comment-preview' %>
<% end -%>
<% content_for(:page_title) do -%>
<%= post_title(@post) -%>
<% end -%>
<%= render :partial => 'posts/post', :locals => {:post => @post} %>
<%= disqus_comments %>
<div class="related">Looking for more? Head on over to the <%= link_to("archives", archives_path) %>.</div>